<div class="modal" id="instructionModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modalTitle">Инструкция</h3>
            <button class="close-modal" id="closeModal">&times;</button>
        </div>
        <div class="modal-body">
            <p class="modal-description" id="modalDescription"></p>
            <div class="modal-features">
                <h4>Основные возможности:</h4>
                <ul id="modalFeatures"></ul>
            </div>
            <div class="modal-actions">
                <a href="#" class="modal-link" id="modalFullLink">
                    <i class="fas fa-book-open"></i>
                    Полная инструкция
                </a>
            </div>
        </div>
    </div>
</div>